button.common {
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: rgba(28, 27, 27, 0.65);

    width: 100px;
    height: 22px;

    border-radius: 4px;

    border: black;
    border-style: solid;
    border-width: 1px;

    margin: 3px;
}

.bouncing {
    transform: scale(1.1);
    animation: bounce 0.5s;
}

@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}