div.register {
    display: flex;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

form.register {
    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: center;

    border-style: solid;
    border-radius: 6px;

    padding: 30px 20px 20px;
    background-color: rgba(64, 64, 65, 0.9);
}

button {
    width: 160px;
    height: 25px;
    font-size: 15px;
}

input {
    margin-bottom: 5px;
    background-color: rgba(28, 27, 27, 0.7);

    width: 200px;
    height: 30px;
    font-size: 15px;


    border-color: black;
    border-style: solid;
    border-radius: 6px;
}