nav.nav-menu {
    position: fixed;
    top: 87px;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 100vh;
    background-color: rgba(48, 48, 49, 0.85);

    border-right-width: 3px;
    border-right-style: solid;
    border-color: rgba(159, 11, 11, 0.73);

}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;

    border-bottom: 2px solid ;
    border-color: rgba(159, 11, 11, 0.73);
}

