div {
    border-color: rgba(159, 11, 11, 0.73);
}

div.header {
    display: grid;
    grid-template-columns: 250px 1fr;

    background-color: rgba(48, 48, 49, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    border-bottom-width: 3px;
    border-bottom-style: solid;
}
